body, input, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(to bottom left, rgb(11, 22, 34) 10%, rgb(52, 16, 92) 90%);
}

#welcome {
    color: rgb(11,22,34);
    margin-bottom: 0;
}
#home-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#home-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(225, 228, 233);
    border-radius: 30px;
    opacity: 80%;
    width: 500px;
    height: 250px;
    padding: 10px;
}

#username {
    height: 25px;
    border-radius: 10px;
    border-color: rgb(11, 22, 34);
    font-size: 15px;
}

#username:focus {
    background-color: rgb(11, 22, 34);
    transition: 0.2s ease;
    color: rgb(225, 228, 233);
}

#go-button {
    background-color: rgb(225, 228, 233);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

#go-button:hover {
    background-color: rgb(11, 22, 34);
    transition: 0.2s ease;
    color: rgb(225, 228, 233);
}
#nav {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    z-index: 10;
}

#nav2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: rgb(225, 228, 233);
    text-decoration: none;
    text-align: right;
}

.nav-tab {
    color: rgb(225, 228, 233);
    text-decoration: none;
    font-size: large;
}

.nav-tab:hover {
    font-weight: bold;
}
.about-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.about-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(225, 228, 233);
    border-radius: 30px;
    opacity: 80%;
    width: 500px;
    height: 250px;
    padding: 40px;
}

.help-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.help-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(225, 228, 233);
    border-radius: 30px;
    opacity: 80%;
    width: 900px;
    height: 550px;
    padding: 40px;
}

/* #home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

#nav2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.about-help-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

 */
