body, input, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(to bottom left, #8ed1fc 10%, #6da0f0 90%);
}

#welcome {
    color: #1a1a1d;
    margin-bottom: 0;
}

#home-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#home-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f0f4f8; 
    border-radius: 30px;
    opacity: 0.9; 
    width: 500px;
    height: 250px;
    padding: 20px; 
}

#username {
    height: 25px;
    border-radius: 10px;
    border-color: #1a1a1d; 
    font-size: 15px;
}

#username:focus {
    background-color: #1a1a1d;
    transition: 0.2s ease;
    color: #f0f4f8; 
}

#go-button {
    background-color: #1a1a1d;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px; 
    color: #f0f4f8; 
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#go-button:hover {
    background-color: #6da0f0; 
    color: #1a1a1d; 
}

#nav {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
}

#nav2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #f0f4f8; 
    text-decoration: none;
    text-align: right;
}

.nav-tab {
    color: #f0f4f8; 
    text-decoration: none;
    font-size: large;
}

.nav-tab:hover {
    font-weight: bold;
}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.about-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f0f4f8; 
    border-radius: 30px;
    opacity: 0.9; 
    width: 500px;
    height: 250px;
    padding: 40px;
}

.help-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.help-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f0f4f8; 
    border-radius: 30px;
    opacity: 0.9; 
    width: 900px;
    height: 550px;
    padding: 40px;
}

#signup-link {
    color: #1a73e8; 
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#signup-link:hover {
    color: #0c56b1;
}